html,
body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.header {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: black;
    color: white;
    height: 44px;
    display: flex;
    padding-top: 5px;
    align-items: left;
    font-weight: bold;
    font-size: 24pt;
}

.header img {
    height: 40px;
    margin: 0 8px 0 8px;
}

#viewDiv {
    padding: 0;
    margin: 0;
    height: calc(100% - 49px);
    width: 100%;
}

#infoDiv {
    width: 20vw;
    padding: 5px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

th {
    font-weight: bold;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 5px;
}